{% extends "::base.html.twig" %}

{% block title %}ProductBundle:Product:single{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <a href="{{ path('product_list') }}">Retour à la liste des produits</a>

{% endblock %}
